[2021-07-22 08:48] cpardo13 opened #3 "Software M600"
hello i have more software files for m600 36V.
One version with 25A and three with 15A.

[2021-07-22 09:03] Ornias1993 commented on #3
Cool feel free to submit a PR, or mail them to me directly if you donnot know how (email address is on my profile)

:-)

[2021-07-22 10:07] cpardo13 commented on #3
Sure i have installed on my frame. It's 36v.

[2021-07-22 10:11] cpardo13 commented on #3
I send the mail with the firmwares

[2021-07-22 10:12] cpardo13 commented on #3
![IMG_20210615_072326](https://user-images.githubusercontent.com/87804654/126623566-671a17b7-618d-4270-aaa7-ef253b22bb06.jpg)

[2021-07-22 10:12] cpardo13 commented on #3
![IMG_20210615_072242](https://user-images.githubusercontent.com/87804654/126623647-cf4b069a-3490-4776-ade5-db1683aa3fd9.jpg)
![IMG_20210615_164703](https://user-images.githubusercontent.com/87804654/126623656-fb902dd9-4ff5-403c-b4e7-5a80f4f8770c.jpg)

[2021-07-22 10:23] Ornias1993 commented on #3
Very interesting, I never knew!
I'll adapt the documentation right away!

[2021-07-22 10:36] cpardo13 commented on #3
I think the firmwares with 15A are for legal prupose in EU. Same as the Norway Elife ebikes with this 3 firmwares call them " the kind ", " the wild " and "the wilderness ". 😂

[2021-07-22 10:42] Ornias1993 commented on #3
I've merged the requested information, thanks for the headsup!

[2021-07-22 10:44] Ornias1993 commented on #3
Nope, 15194 and the EU regulation its harmonised for, talks about "nominal RATED power" which is measured using the a formula that calculates wattage for a certain temperature equilibrium. There is no peak-power limit in the EU.

That being said: You have access to Norway Elife firmwares? please please please send me some!

[2021-07-22 10:44] casainho commented on #3
Hmmm, so I would say the motor can handle as max the 58V battery and a current of 25A = 58 * 25 = 1450 watts.

[2021-07-22 10:45] Ornias1993 commented on #3
I'm not sure the 36A/25A firmware has the same uper voltage limit.
If it does that would be amazing, because that would indeed mean we finally have a 1450watt firmware... :D

[2021-07-22 10:47] casainho commented on #3
But on TSDZ2, the 36V motor and 48V motor, the coils are different but the controller is just the same, that can handles the 18 amps, independent of the battery voltage, that can be something from 24V (7S) up to 58V (14S).

[2021-07-22 10:48] casainho commented on #3
Well, when we have our OpenSource firmware, we can explore the hardware max limits :-)

[2021-07-22 10:49] Ornias1993 commented on #3
Thats different with bafang m500/m600:
The motor is the same, even between m500 and m600.

The controller is the same for all m500 and m600 voltage versions, the voltage is firmware only (thats also why the voltage and amps are an added sticker besides the actual serial number).
There are controller differences between the m500 and m600 controller however, the m500 is missing one shunt resistor an

[2021-07-22 11:01] casainho commented on #3
Hmmm, if the motor is the same between M500 and M600, why there is such big difference on the weight??

[2021-07-22 11:05] Ornias1993 commented on #3
The motor is the same, but the m600 uses slightly different gears and one plastic gear is replaced with Metal. See the documentation and pictures I added ;-)

[2021-07-22 11:06] cpardo13 commented on #3
The case of the m600 is more widther than the m500.

[2021-07-22 11:06] Ornias1993 commented on #3
It's not.

[2021-07-22 11:08] Ornias1993 commented on #3
Wight difference is indeed 500g
So there might actually also be a winding difference between the m500 and m600.... so you might be right there @casainho

Not between different versions of the m600 though, i'm sure of that because they would've had to publish stuff about it.

[2021-07-22 11:14] cpardo13 commented on #3
I reed in a forum the case of the m600 is more widther in the left side for the different gears reduction inside... But i don't know

[2021-07-22 11:24] Ornias1993 commented on #3
Not everything you read on the internet is True.
Please actually read our documentation on it, it also includes drawings and such. But as also stated on the forums the gear reduction is almost the same ;-)

[2021-07-22 18:56] Ornias1993 commented on #3
Update:
- I've had some contact with Luna Cycles, they donnot have more than they already shared publically.
- I've had contact with Elife (Norwegian company producing the Elife X with their m600s motor), they cannot share their firmwares or hardware changes because they do not want to allow competitors to copy it. They did however share that in their testing the m500 has, in practice, about the s

[2021-07-23 06:31] CiDi-IT commented on #3
I'm starting to think that firmware can be installed either on m500 or m600 controllers, knowing that the m500 controller and motor handle less current.
Has anyone verified this?

[2021-07-23 07:15] cpardo13 commented on #3
I think the same. The firmwares in 36v are very similar references also in m500 and m600.

[2021-07-23 07:20] KyokushinPL commented on #3
320 in f/w name means M600 and M500 its 420.

Wysłane z iPhone'a

[2021-07-23 07:45] cpardo13 commented on #3
No. I received diferent firmwares directly from bafang for my m600 36v with 320 and 420 serial numbers.

[2021-07-23 07:53] CiDi-IT commented on #3
Interesting, so 420 firmware is for M500, 320 firmware for M600, but they can be installed in both motors.
Therefore the division by motor is useless, it is better to divide them by voltage / current.

[2021-07-23 08:08] CiDi-IT commented on #3
Has anyone tried to do a file comparison?
For example I have compared the 36V/25A file with the 48V/18A file, and they differ in only one since I assume both the indication of the nominal voltage and the maximum current.

[2021-07-23 08:09] KyokushinPL commented on #3
I just have got confirmation from Bafang rep.

Wysłane z iPhone'a

[2021-07-23 08:27] KyokushinPL commented on #3
What will happen after flashing m500 by m600 firmware?
Anyone tried?

Wysłane z iPhone'a

[2021-07-23 08:37] Ornias1993 commented on #3
i've done a comparison of the hex output for some binfiles, they do not show a "magical hex value" we could change, sadly enough.

[2021-07-23 08:41] Ornias1993 commented on #3
@KyokushinPL and @CiDi-IT This indeed starts to show that the firmwares might not actually be limited by motortype at all.

**I've also done some more research on how the m500 got EU compliant with 250w continues load.**
It's actually pretty smart:
IEC 60034-1 determines that the nominal continues wattages is determined at the moment of temperature equilibrium (aka: doesn't get hotter anymore) at

[2021-07-23 08:54] Ornias1993 commented on #3
Could you try a 420 firmware on your m600?

[2021-07-23 09:04] cpardo13 commented on #3
Im waiting the bafng besst tool. When arrive i try all the firmwares in 36v

[2021-07-23 09:57] casainho commented on #3
That kind information, we could get much more insights but looking at the board, to know how the hardware works. Does anyone have more detailed pictures?

Can anyone please donate me motor controllers? can be not working units. I will need a few and I will need to destroy them.

[2021-07-23 10:09] CiDi-IT commented on #3
I have a spare controller and I can send you as many photos as you want, but I would prefer not to destroy it

[2021-07-23 10:12] Ornias1993 commented on #3
@CiDi-IT I've got more info on the CANBUS addresses used by the BEST tool, you might want to start working on those as well:

https://github.com/OpenSourceEBike/Bafang_M500_M600/blob/main/CANBUS/CANBUS%20code%20from%20BESST.txt

[2021-07-23 12:01] Ornias1993 commented on #3
Okey @CiDi-IT and @casainho
I've managed to figure out most of the CANBUS frames and documented it all.

I also found out it should be possible to set individual parameters on the controller, possible even things like max-current, using the CANBUS. However, while I found out the addresses, I need someone to work out the code to translate the data from the CANBUS packages to something readable.

I

[2021-07-23 12:55] KyokushinPL commented on #3
Fingers crossed - mac current is holy grail for most of us

Wysłane z iPhone'a

[2021-07-23 13:37] Ornias1993 commented on #3
A TLDR about the hidden CANBUS SET/GET/UPDATE options:
- There are 3 frameID endings for this: 6011 6012 and 6013
- When requested for data, we get a multipackage datastream
- The datastream contains multiple settings, which seem to be defined by their "data" paramater
- they also have a "read_value" which is their current settings
- if you want to set the value, you need to use the "set_value" pa

[2021-07-23 13:54] casainho commented on #3
On the "Maximum current-4", do you know for instance what are possible values? do you have an example CAN package only for this?

Also, how do you guys plan to have CANBUS access? I do not have any motor but if I did, and considering the CANBUS electric connections permit to add more and more nodes to the bus in parallel, I would add a wireless CANBUS to read and write data.

This means we would b

[2021-07-23 13:57] casainho commented on #3
This makes sense for the CANBUS packages, that is the way things usually works.

[2021-07-23 13:59] CiDi-IT commented on #3
![Bafang USBtoCAN](https://user-images.githubusercontent.com/87806362/126792657-627279fb-a085-4b07-89a1-dc1e1376c96d.jpg)

With this simple interface I can receive and send can messages

[2021-07-23 14:04] Ornias1993 commented on #3
@casainho maxcurrent_4 and such are for assist levels afaik.

[2021-07-23 14:05] casainho commented on #3
Yes, that would be enough for a motor configuration. What do you guys want, a tool configure the motor while it is connected to a PC or a way to configure the motor with a mobile phone, anytime like when riding on the field?

[2021-07-23 14:06] Ornias1993 commented on #3
Lets first reverse engineer the protocol and bother with implementations after, okey?

[2021-07-23 14:27] casainho commented on #3
I would build something simple to customize the assist levels because that would bring big and immediate value to users. For that, I would focus only on the "Maximum current-[0-4]" and not use time to understand all about the protocol.

And while it can be done with that very cheap USB-CAN devices and a PC, assist levels are very personal and there is need to tweak them while riding on the field,

[2021-07-23 14:30] Ornias1993 commented on #3
No don't, max_current is just one of the assist settings and one of the least important of those.
I suggest not skimming through the document I made and actually at least trying to understand it a bit ;-)

Also: You cannot just send a package with one current setting, like I explained it requires a set command with multiple packages containing all settings for said frameid.

[2021-07-23 14:36] casainho commented on #3
If you agree on the feature assist level, than it is already good to focus on only that.

And since the assist level is changed by the display, we could replicate byte by byte what the display sends, or at least just focus on that packages. Should probably be the most easy thing to figure out.

[2021-07-23 14:38] Ornias1993 commented on #3
It seems you didn't actually completely understand my work.
No what you propose is not possible.

The way displays set settings use a different CANBUS system than the way controller settings are changed. Please actually read through it, it's actually quite a bit more complicated. You cannot use the same commands to set frameid 6011 6012 and 6013

[2021-07-23 14:45] Ornias1993 commented on #3
So TLDR @casainho We currently donnot have enough information to create what you propose, thats why i said we need more reverse enginering first. And that reverse enginering is way more complicated than just snooping the display ;-)

[2021-07-23 15:05] CiDi-IT commented on #3
I have already intercepted all the calls that BESST makes with the M500/M600 controller, they are limited to those few parameters that can be set.
The only option we have is to intercept calls for other types of controllers that allow more settings (M620?), and test if they are compatible with M500/M600.
This is possible with reverse engineering of the BESST or with the CAN analyzer connected to t

[2021-07-23 15:11] Ornias1993 commented on #3
I doubt it, try opening the different tabs... There is definately one that reads 6011, 6012 or 6013, because thats the only way to read the max current for the controller page

[2021-07-23 15:15] CiDi-IT commented on #3
Of course best asks and receives many frames to get all the information from the controller, I was referring to the messages sent by BESST to set the parameters.

[2021-07-23 15:18] Ornias1993 commented on #3
Ahh okey, but I already knew that.
What I was saying is you need to reverse engineer the GET requests on 6011 6012 and 6013, because those can be reversed to SET requests. We need to figure out how to extract the config from the GET requests on 6011 6012 and 6013, before we can start working on setting the settings.

[2021-07-23 15:19] Ornias1993 commented on #3
So TLDR:
- Find a way to get the config that is shared with frameID's ending on 60 11, 60 12 and 60 13
- We can only continue once we get that information and there is no other way of reverse enginering this.

[2021-07-23 15:19] Ornias1993 commented on #3
Could you output a complete dump of all communication with BESST and put it in the folder?
That way other people without CANBUS hardware can also look if they can reverse engineer the communication.

[2021-07-23 15:21] CiDi-IT commented on #3
https://github.com/Ornias1993/Bafang_M500_M600/blob/main/CANBUS/Setup%20M600%20Can.txt

[2021-07-23 15:26] Ornias1993 commented on #3
I'm missing a significant amount of GET calls in that file, which I know (by reading the sourcecode) BESST does do.

[2021-07-23 15:39] Ornias1993 commented on #3
Okey, if BESST isn't giving you output, try sending empty (0000) commands to the controller with the following frameid's (like you do when trying to trigger calibration):
frameid's to controller ending with:
60 11
60 12
60 13

Those frames should trigger a response, which you should save.

[2021-07-23 16:17] CiDi-IT commented on #3
I tried to load the firmware for M500 on an M600 controller, the update procedure does not start.

[2021-07-23 16:27] CiDi-IT commented on #3
I tried to send the 3 frames, I have no response from the controller

[2021-07-23 16:29] Ornias1993 commented on #3
Shoot, my fault.
how are you everything? Does CANBUS require a promiscuous mode?

Because BESST for sure also sends those GET requests, it's the only way to find certain data. The commonds you logged in that document do not contain anything that would tell the BEST hardware controller the current for example.

[2021-07-23 16:31] Ornias1993 commented on #3
You could also try running BESST diagnostics and saving all CANBUS activity.

[2021-07-23 16:32] CiDi-IT commented on #3
134)      1085.4  Rx     02F83202  1  00
   135)      1090.5  Rx     01F83100  4  EE 02 00 BA
   136)      1102.2  Rx     01F83100  4  EE 02 00 BB
   137)      1113.9  Rx     01F83100  4  EE 02 00 BC
   138)      1125.0  Rx     01F83100  4  EE 02 00 BD
   139)      1134.7  Rx     03106300  4  05 0B 00 01
   140)      1136.7  Rx     01F83100  4  EE 02 00 BE
   141)      1148.4  Rx     01F83100  4

[2021-07-23 16:38] Ornias1993 commented on #3
This was when you tried sending frames to 60 11 or when running BESST diagnostics?

[2021-07-23 16:39] Ornias1993 commented on #3
I see:
05106011

shouldn't that be:
02106011

[2021-07-23 16:42] CiDi-IT commented on #3
0510 = BESST
0310 = HMI
02F8 = Controller

[2021-07-23 16:42] Ornias1993 commented on #3
I donnot really get the frameID's though:

AABBCCDD

AA= target 02 for controller, 05 for besst
BB=?
CC=first part of command framenumber
DD=second part of command framenumber

But what is BB?

[2021-07-23 16:43] Ornias1993 commented on #3
Yeah so the TX to 60 11 should be:
02F86011

[2021-07-23 16:44] CiDi-IT commented on #3
Requests to the controller cannot begin with the controller name

[2021-07-23 16:52] CiDi-IT commented on #3
Now I had to unplug the bike.
I have a spare controller that I want to keep on bench for these tests, I just need to find a jst-22 connector to connect the BESST and CAN analyzer cable.

[2021-07-23 16:53] Ornias1993 commented on #3
So what is the target when you do 85103203 in your tutorial on the forums? whats the 85?

[2021-07-23 17:27] CiDi-IT commented on #3
Can innomeker interface wants those numbers, but now i have used a professional analyzer, and this should be correct.

[2021-07-23 17:41] Ornias1993 commented on #3
Try:
02F8601  05 00 00 01

[2021-07-23 17:43] CiDi-IT commented on #3
Now I have disconnected, tomorrow if I can I will try

[2021-07-23 18:11] Ornias1993 commented on #3
I think you misunderstood, try sending the following on the CANBUS one by one:
`02F86011 ` (emty data)
`02F86011  00 `
`02F86011  05 00 00 01 `

**Anyway:**
I've made a list of all unique frameid's in your 3 logfiles:
[code]

I'm still not sure what the second two digits mean...
To reverse engineer this, we need to **_understand_** what things actually mean.

We now know (due to my work today) wha

[2021-07-23 18:25] CiDi-IT commented on #3
[Test4.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6870539/Test4.txt)

[2021-07-23 18:28] CiDi-IT commented on #3
[Test5.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6870557/Test5.txt)

[2021-07-23 18:29] Ornias1993 commented on #3
hmm...
Maybe we should try setting an RTR to 1?

[2021-07-23 18:29] Ornias1993 commented on #3
Meanwhile i'll look into forcing BESST to make certain calls.

[2021-07-23 18:29] casainho commented on #3
On ISOBUS, that 8 bits is the destination address / device address and 8 to 15 bits (next 8 bits) are the source address. But, is that a kind of counter? Does it always increment?

[2021-07-23 18:35] CiDi-IT commented on #3
[Test6.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6870588/Test6.txt)

I recorded a switch on and switch off of the display controller, if it helps.

[2021-07-23 18:35] Ornias1993 commented on #3
No idea what you are talking about.
the second 2 digits don't increment.

[2021-07-23 18:37] Ornias1993 commented on #3
@CiDi-IT Could you record plugging in the BESST hardware tool and starting the software from scratch?

[2021-07-23 18:40] CiDi-IT commented on #3
[Test7.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6870617/Test7.txt)

BESST interface connection and software start

[2021-07-23 18:43] Ornias1993 commented on #3
@CiDi-IT You do actually select the BESST hardware tool from the software, hit "connect" and load data on the "controller"  tab right?

[2021-07-23 18:46] CiDi-IT commented on #3
Yes

[2021-07-23 18:46] Ornias1993 commented on #3
can you share a screenshot to be sure?

[2021-07-23 18:47] Ornias1993 commented on #3
Talking about this screen:
![image](https://user-images.githubusercontent.com/7613738/126827694-a81be30a-f54c-4c51-acca-b775ac7adc24.png)

[2021-07-23 18:48] CiDi-IT commented on #3
![BESST](https://user-images.githubusercontent.com/87806362/126827868-c0899e33-8f9e-47b6-bdfa-9467ecc8210e.jpg)

[2021-07-23 18:50] Ornias1993 commented on #3
AHHH that explains A LOT!
It doesn't actually load 6011 :-D

[2021-07-23 18:50] Ornias1993 commented on #3
We where looking for something that isn't actually loaded!

Could you try running the diagnostic while recording?

[2021-07-23 18:53] CiDi-IT commented on #3
[Test8.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6870661/Test8.txt)

BESST diagnostic

[2021-07-23 18:55] Ornias1993 commented on #3
Cool, BESST actually doesn't use 6011 6012 or 6013 itself, which most likely it's really meant for development and left in BESST due to lazy developers. Which is a good thing :)

[2021-07-23 18:57] Ornias1993 commented on #3
Interesting, when it asks for the customernumber it does this:
[code]

[2021-07-23 19:01] CiDi-IT commented on #3
02 Controller
03 HMI
05 BESST

[2021-07-23 19:02] Ornias1993 commented on #3
I know.

It's about the second two...

[2021-07-23 19:03] CiDi-IT commented on #3
Can't you understand from the reverse engineering of the BESST?

[2021-07-23 19:06] Ornias1993 commented on #3
@CiDi-IT Not really:
This is the primary function for it:
[code]

So, I expect the second two have something to do with the "target", where the first two are the "source" for a GET request

[2021-07-23 19:12] CiDi-IT commented on #3
[Frame.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6870757/Frame.txt)

These are the unique frames that the analyzer gives me

[2021-07-23 19:19] CiDi-IT commented on #3
Explain to me what the frames correspond to
6010
6011
6012

[2021-07-23 19:20] Ornias1993 commented on #3
@CiDi-IT Did you read my thorough document on everything?

[2021-07-23 19:20] CiDi-IT commented on #3
Send me the link

[2021-07-23 19:21] Ornias1993 commented on #3
It's in the repo, it's the thing I linked this morning.
Its what we've been talking about ALL THIS TIME.

[2021-07-23 19:23] CiDi-IT commented on #3
https://github.com/OpenSourceEBike/Bafang_M500_M600/blob/main/CANBUS/BESST-CANBUS.md

[2021-07-23 19:25] Ornias1993 commented on #3
yes.

[2021-07-23 19:27] CiDi-IT commented on #3
So the frames you made me send were for reading values?

[2021-07-23 19:29] Ornias1993 commented on #3
No, Afaik they are CANBUS Get commands, they request data from the CANBUS

[2021-07-23 19:38] CiDi-IT commented on #3
Give me an example

Rated Voltage = 48 = 05 + ?? + 6011 + 30

[2021-07-23 19:43] CiDi-IT commented on #3
"title_en":"Rated Voltage",
                    "category":"Battery",
                    "range":[36,43,48],
                    "read_value":"",
                    "standard_value":"",
                    "set_value":"",
                    "description":"36，43，48",
                    "unit":"DCV",
                    "split":0,
                    "data":"0",
                    "length":1

H

[2021-07-23 19:44] CiDi-IT commented on #3
Ok, we close here for tonight, we continue in the next few days

[2021-07-23 19:47] Ornias1993 commented on #3
I cannot give you more than I know.
I **_ONLY_** managed to reverse engineer the first 2 and last 4 digits of the FrameID's and what those frameID's are for.

I've found (and copied) how the BESST software gets those values from the data inside the frame packages, but donnot have any packages to work with. I first need to get some packages for 6011 6012 and/or 6013. to reverse engineer the BESST d

[2021-07-23 19:48] Ornias1993 commented on #3
I'm currently working on that, but i've no packages to work from... thats why i try so hard to get some.

[2021-07-23 20:01] Ornias1993 commented on #3
I worked it out the second two digits, writhing PoC Code as we speak!

[2021-07-23 20:24] Ornias1993 commented on #3
Here you go @CiDi-IT This script generates the correct frameID's, based on reverse enginering the BESST software:
https://ornias1993.github.io/Bafang_M500_M600/index.html

Example:

![image](https://user-images.githubusercontent.com/7613738/126837318-da0de8fb-f636-4152-a4d6-7a08b86b7dd6.png)

output:
![image](https://user-images.githubusercontent.com/7613738/126837396-44fb0098-28df-4228-83bb-c6f92

[2021-07-23 20:28] Ornias1993 commented on #3
Try these this CANBUS command:
05116011 (empty data)

[2021-07-23 20:54] CiDi-IT commented on #3
Perfect, I'll do some tests tomorrow.

[2021-07-24 13:36] CiDi-IT commented on #3
[Test9.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6872497/Test9.txt)

Bad news, the controller is not responding you have messages that were not predicted by the firmware.

I am attaching the layout where the controller replies "022C6001" value "14" to telegram "05116001", while telegram "05116011" does not reply.

The only way to go is to decrypt the firmware to create a custo

[2021-07-24 13:44] casainho commented on #3
There is no need to decrypt the firmware to create a custom, however, comparing the electric signal with original ones is needed, like to figure out how the torque sensor signals work.
The motor seems to be the more complex, but, using an OpenSource motor controller like VESC, it can do the motor profile / motor characteristics like inductance and phases resistance.

[2021-07-24 13:53] Ornias1993 commented on #3
Okey, so at least our reverse enginering is correct, as it does respond "022C6001" value "14" to telegram "05116001"
Which is actually good news, so we now know how the CANBUS protocol works :)

[2021-07-24 13:56] KyokushinPL commented on #3
It would be excellent to be able to coock the f/w with higher 'max current' amperage. I saw there are three variables for it in documentation, one when battery is full and two when its charge is low

[2021-07-24 13:58] Ornias1993 commented on #3
@KyokushinPL as stated by @CiDi-IT He could not get the firmware to respond on the max current get request. So it might actually be locked in the firmware.

[2021-07-24 14:01] KyokushinPL commented on #3
Yes - we need to be able to coock own custom f/w to change that.

[2021-07-24 14:03] Ornias1993 commented on #3
@CiDi-IT Could you try all of the following and list if they respond?
05113200
05113201
05113202
05113203
05113204
05113205
05116011
05116012
05116013
05116201

[2021-07-24 14:07] Ornias1993 commented on #3
I might actually need to use a different channel for multi-package CAN requests:
common.CAN.LONG_START_CMD or something.

[2021-07-24 14:22] CiDi-IT commented on #3
[Test10.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6872571/Test10.txt)

[2021-07-24 14:26] CiDi-IT commented on #3
[Test11.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6872579/Test11.txt)

Test with BESST open:
05113200
05113201
05113202
05113203
05113204
05113205
05116011
05116012
05116013
05116201

[2021-07-24 14:27] CiDi-IT commented on #3
I noticed that if you want the controller to respond, BESST must be open because it sends a telegram "05F83501 00" every second.

[2021-07-24 14:43] CiDi-IT commented on #3
05113200 ??/??/Level
05113205 ??
05113203 Speed/Wheel/Circumference
05106101 Torque Sensor Calibration
05116201 Position Sensor Calibration

[2021-07-24 16:00] Ornias1993 commented on #3
Honestly, i'm out of idea's now...
There only seems to be one get request that is getting an actual response:
05113203

So something is wrong in my analysis but I cannot seem to figure out what precisely.

[2021-07-25 17:02] Ornias1993 commented on #3
Guys,
I've finally been able to at least decode part of the original firmware.
I've found the first Hex references in the binary to voltage and amps :-D

https://github.com/OpenSourceEBike/Bafang_M500_M600/blob/main/Official%20Firmwares/Motor/m600/mostly%20identical/Readme.md

[2021-07-25 20:23] Ornias1993 commented on #3
@CiDi-IT If you want to test, i've uploaded some "experimental" firmwares with increased/modified current limits.
They might work....

[2021-07-26 06:50] CiDi-IT commented on #3
Firmware loads without problems, now I just have to check the changes.

[2021-07-26 07:10] CiDi-IT commented on #3
I would be interested in making the following change on the firmware CRX10NC4818i132046.7

Low voltage level: 076c = 39V

What do you use to make the changes?

[2021-07-26 07:15] KyokushinPL commented on #3
BTW, display have the function 'output wattage', so there can be seen the change on max current. On throttle max on up or max assist and highest gear there should be higher wattage output to be noticed.

[2021-07-26 07:15] Ornias1993 commented on #3
@voltage level is harder.
There is a section of changest that is related to nominal voltage (changes with it) but I’ve not (yet) managed to decode it.

Also voltage is not very important, you can safely run 39v on the 43v or 36v versions.

TLDR: ill stick to stock nominal voltages for now, but I could look into powering the max and cutoff voltage for you for 39v. Once we tested the current changes

[2021-07-26 07:37] CiDi-IT commented on #3
Of course, I will check this way if the maximum current has changed.
For the moment I have loaded the firmware on a bench controller.
![IMG_20210726_092342](https://user-images.githubusercontent.com/87806362/126950811-48b04dcf-9981-436b-9590-648a857cc851.jpg)

[2021-07-26 07:45] Ornias1993 commented on #3
Thats a nice bench you got there! :)

Anyway, I use an online hex editor that seems to work great! :)
https://hexed.it/

[2021-07-26 07:46] CiDi-IT commented on #3
The rated voltage must remain 48V, it is the cut-off voltage I want to change to 39V

[2021-07-26 07:51] Ornias1993 commented on #3
Ahh now I understand, yes that should work. No guarantees though.

[2021-07-26 07:57] CiDi-IT commented on #3
Of course, it's only because it's the change that I need most urgently.
I use my MTB on Sundays for long hikes and have noticed that the controller has a 42V cut-off which doesn't let you use the battery to the fullest.

[2021-07-26 08:07] Ornias1993 commented on #3
Wow, I just checked...
You're totally right: Samsung 35e has 2.5v cutoff voltage in the specification per-cell for example. So 42v cutoff is WAY to low, there is more power in those cells.

[2021-07-26 08:19] casainho commented on #3
I usually configure my 14S 58V to lvc of 42V but if I am doing a long ride and I need to extract full power, I setup 38V. The lower lvc, the worst for battery life and that may be the idea of Bafang! But we should unlock and custom for our custom usage!!

[2021-07-26 08:26] CiDi-IT commented on #3
My battery is 13S, 42V does not seem a correct value to me.

[2021-07-26 08:33] Ornias1993 commented on #3
Indeed, I agree with @CiDi-IT here:
If the specified lvc is 35, a safety margin is fine, but 42 is too high.
38v or 39v is more reasonable and lets be real: If you don't take a long ride the lvc doesn't mater anyway because you would be home sooner ;-)

[2021-07-26 11:27] Ornias1993 commented on #3
@CiDi-IT
I've read your latest CANBUS document, looks great!
so we can currently:
- GET and SET the assist levels
- GET the current motor current/speed/voltage/temperature
- GET and SET the current wheelsize/maxspeed/circumference

Question:
De we know what this means:
`ADV: 0x1F`

What is ADV? Might it actually be the programmer?

[2021-07-26 12:00] Ornias1993 commented on #3
FUCK, I fucking managed to get 6011 Access in BESST! @CiDi-IT

[2021-07-26 12:05] CiDi-IT commented on #3
I tried the modified firmware on the bike, it works and the current seems to be 20A as per modification.

[2021-07-26 12:06] CiDi-IT commented on #3
In what way?

[2021-07-26 12:07] KyokushinPL commented on #3
what 6011 is?

[2021-07-26 12:11] Ornias1993 commented on #3
Awesome

In the way I managed to unlock hidden UI elements to access them in BESST!

Unlimited access

[2021-07-26 12:12] Ornias1993 commented on #3
I'll send you guys a way to try my trick out shortly!

[2021-07-26 12:18] Ornias1993 commented on #3
Try the new login bypass script @CiDi-IT it should show up when you connect a canbus device.
If it doesn't I can provide a customised version of BESST.

[2021-07-26 12:24] Ornias1993 commented on #3
For those without access to hardware:
![image](https://user-images.githubusercontent.com/7613738/126987825-57c17698-9142-4cb9-8b2a-88c8ad296f0a.png)

![image](https://user-images.githubusercontent.com/7613738/126988045-2630c28e-59d8-40bb-9613-73aea06074e1.png)

![image](https://user-images.githubusercontent.com/7613738/126988079-b039247f-79cf-45bf-8b19-e9026a74cba3.png)

![image](https://user-imag

[2021-07-26 12:27] KyokushinPL commented on #3
custom besst version would be purrfect  @Ornias1993

[2021-07-26 12:32] Ornias1993 commented on #3
I've some plans in mind, called "WORSST". ;-)

[2021-07-26 12:32] casainho commented on #3
That is amazing. So they did a good firmware, generic to be fully configured by CANBUS software and then they did lock only on this software side.

Looking at what we did discover on the OpenSOurce firmware for BBSHD, they also have 1 microcontroller to implement the generic motor control and then communicates with a second one that do the user interface / display communication. You do not need to

[2021-07-26 12:35] Ornias1993 commented on #3
Yes, they hardcoded 3 organisation ID's deep in BESST that unlock this section when a canbus device is detected.

[2021-07-26 12:38] CiDi-IT commented on #3
Ok, it works.
I'm trying to figure out if the data can be read from the controller.

[2021-07-26 12:38] casainho commented on #3
Good, they could even detect different CANBUS hardware to unlock the software and then sell this hardware at big profit, each giving diferent access level.

[2021-07-26 12:41] Ornias1993 commented on #3
Actually they already provide CANBUS interface for electronic locks ;-)

[2021-07-26 12:41] CiDi-IT commented on #3
Battery:
Rated voltage DCV Battery
Maximum current limit when the battery is full A Battery
Overvoltage DCV Battery
Undervoltage DCV Battery
Riding dynamic undervoltage DCV Battery
Undervoltage recovery voltage DCV Battery
Battery capacity mAh Battery
Maximum current limit when the battery is low A Battery
The battery value threshold when the current starts to decay% Battery
Percentage coefficient

[2021-07-26 12:48] Ornias1993 commented on #3
Are you able to get the data out of the controller though?

[2021-07-26 12:49] KyokushinPL commented on #3
Tried new script and cant see new stuff, could you coock custom besst?

[2021-07-26 13:00] CiDi-IT commented on #3
No, I can not

[2021-07-26 13:02] Ornias1993 commented on #3
It's not usefull if you donnot have CAN hardware and a lot of work. Sometime there will be a custom BESST version.

You need to click "read6011" and "read6012" afaik

[2021-07-26 13:04] CiDi-IT commented on #3
I tried, but the fields remain empty

[2021-07-26 13:05] CiDi-IT commented on #3
I tried, but the fields remain empty

[2021-07-26 13:08] Ornias1993 commented on #3
Okey, under "Params Read" you see 6011 for example.
Does that change when you click read?

[2021-07-26 13:08] CiDi-IT commented on #3
[BESST 6011_6012 ReadAll.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6878394/BESST.6011_6012.ReadAll.txt)

When I press the read all button

[2021-07-26 13:14] CiDi-IT commented on #3
[BESST 6012 Write.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6878430/BESST.6012.Write.txt)

When I press the Write button 6012

[2021-07-26 13:15] CiDi-IT commented on #3
Let's go back to the initial speech, this mode must be provided by the firmware, otherwise it does not work

[2021-07-26 13:21] Ornias1993 commented on #3
Try the luna ludi firmware....

[2021-07-26 13:29] CiDi-IT commented on #3
Same thing with Luna firmware too

[2021-07-26 13:34] CiDi-IT commented on #3
This field is used to upload a file from the Cloud

[2021-07-26 13:37] Ornias1993 commented on #3
I know, but I was looking if it had other purposes as well.

[2021-07-26 14:26] Ornias1993 commented on #3
I've updated the script again, it should now grant a bit more access!

[2021-07-26 14:36] CiDi-IT commented on #3
With this change, access is only "Component"
![SharedScreenshot](https://user-images.githubusercontent.com/87806362/127007171-45c7bd4b-7678-4b45-9678-8ecb0796500b.jpg)

[2021-07-26 14:38] Ornias1993 commented on #3
Shoot, it shouldn't have showed like that >.<

[2021-07-26 14:38] Ornias1993 commented on #3
reverting thanks for the headsup!

[2021-07-26 15:06] Ornias1993 commented on #3
I cleaned up the CANBUS documentation a bit and i've added more CANBUS addresses as found inside the latest version of BESST.

[2021-07-26 16:16] Ornias1993 commented on #3
@CiDi-IT I added a firmware with lower lvc for you :)

[2021-07-26 16:51] CiDi-IT commented on #3
There is a problem with BESST, the " account_type':[1,2,3,5,6,7]" no longer allows me to update, a warning appears telling me that it is an account for trial use.

[2021-07-26 16:58] Ornias1993 commented on #3
@CiDi-IT Thanks, patched it right away! :)

[2021-07-26 17:01] cpardo13 commented on #3
It would be interesting to modify the Pas levels.  To save energy at the lowest Pas levels.  Have the Pas levels more staggered. Or enable this setup with the besst tool.

[2021-07-26 17:02] Ornias1993 commented on #3
Dude, if you actually read the thread, you would've noticed I just enabled those in the BESST GUI, only for @CiDi-IT to notice the firmware ignores the values and commands.

[2021-07-26 17:12] cpardo13 commented on #3
Sorry my english es very bad. I don't understand many things

[2021-07-26 18:23] doctorrevenge commented on #3
Hi guys, nice project! Thank you for that! Is it possible to get a m500 36V Firmware with 20A and 25A. I have the m500 36V17A Firmware installed and Share it with ornias1993
great work!!!

[2021-07-26 19:27] Ornias1993 commented on #3
I've added both, ofc. it's still in the testing fases, but it might work for you and didn't destroy @CiDi-IT his motor before :)

[2021-07-26 19:57] Ornias1993 commented on #3
@CiDi-IT Do you happen to have a JTAG interface laying around to try if you get anything on the JTAG header?
![JTAG](https://user-images.githubusercontent.com/7613738/127050822-7f9598cb-70ca-4910-96a4-cff90da1e482.jpg)

[2021-07-26 20:09] doctorrevenge commented on #3
Perfekt! I tested the firmware at the weekend

[2021-07-26 20:34] CiDi-IT commented on #3
https://www.amazon.it/dp/B0749N1Q3R/ref=cm_sw_r_wa_apa_glt_i_R9KFFJPE1V9VRGCV35C0

I have this interface, but I'm not sure it's okay

[2021-07-26 20:48] Ornias1993 commented on #3
Might be, but a jlink compatible interface might also be prefered.
@casainho has more experience with this I think.

[2021-07-26 22:28] casainho commented on #3
That is nice that big header for JTAG. Maybe they need that to be fast programming during production and testing of the board.

I would expect to use that connection only to flash the firmware and debug it for development.

Be careful, almost for sure there is a bootloader on the firmware specifically for communication with the CANBUS software on PC and update the firmware on the controller. We do

[2021-07-27 08:33] Ornias1993 commented on #3
Thanks for the note @casainho

@CiDi-IT Could you make a CANBUS dump while doing a firmware upgrade and also tell me which file you used for the update?
The upgrade process is one of the few CANBUS actions I've no data on....

[2021-07-27 09:46] CiDi-IT commented on #3
[CRX10NC4818i132046.7-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6884460/CRX10NC4818i132046.7-Update.txt)
[CRX10NC4320i132045.6-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6884461/CRX10NC4320i132045.6-Update.txt)

[2021-07-27 10:58] Ornias1993 commented on #3
@CiDi-IT Awesome, could you do the two firmwares in the "mostly identical" folder?
because I can then do an analysis of the differences in communication.

[2021-07-27 11:21] CiDi-IT commented on #3
[CRX10NC3625i132047.7-28-2230-20201121-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6884973/CRX10NC3625i132047.7-28-2230-20201121-Update.txt)
[CRX10NC4818i132046.7-28-2230-20201121-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6884974/CRX10NC4818i132046.7-28-2230-20201121-Update.txt)

[2021-07-27 11:36] Ornias1993 commented on #3
Cool, so:
- the transfer is started with a package to: 05142001
- this packages is ack to: 022A2001
 - BESST sends a datapackages on 0515####, where #### is the package number
 - the Controller sends a ack for the data recieved on 022A####, where #### is the package number
- when completed BESST sends a end-of-packages message at 0516####, where #### is the package number
- The datastream is preci

[2021-07-27 11:54] CiDi-IT commented on #3
The update procedure requires that the file be loaded on the interface, then connect the controller and the update starts.
So there is nothing else before.

[2021-07-27 12:23] Ornias1993 commented on #3
Thank you @CiDi-IT I was missing the single answer on 022A2000...

So the process:
- 05FF3005  ( BESST "waiting in firmware update mode" or "Trying to transfer")
- 05112000  (Polling: "Is Controller ready for firmware?")
- 022A2000 (Response: "Controller ready to recieve firmware")
- 05142001 (Transfer started from BESST, contains first data pack)
- 022A2001 (Transfer start ack from Controller)
-

[2021-07-27 12:34] CiDi-IT commented on #3
I don't have M500 controller, but I tried to load M500 firmware on M600 controller, the result is this.

[CRX10NC3615i142037.5-20200407-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6885383/CRX10NC3615i142037.5-20200407-Update.txt)

[2021-07-27 12:41] Ornias1993 commented on #3
That's very interesting!
So the controller won't respond on 05112000 if the code that is send isn't correct for the board-revision (m500 vs m600).

[2021-07-27 12:52] Ornias1993 commented on #3
Good news, figured it out:
"88 45 82" and "89 45 82" comes from the firmware files. it's the first hex portion of the firmware. so:
- 05112000 (Polling: "Is Controller ready for firmware AA-BB?")
- 022A2000 (Response: "Controller ready to recieve firmware AA-BB-CC")

[2021-07-27 13:00] CiDi-IT commented on #3
I think it is appropriate to make a document to explain the firmware update procedure, it could always be useful.

[2021-07-27 13:01] Ornias1993 commented on #3
Don't I always do this? ;-)

Could you send me 1 or two other m600 firmwares including the start of the transfer?
I need to figure out what 05142001 does.

[2021-07-27 13:04] CiDi-IT commented on #3
[CRX10NC3615i132001.0-20210114-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6885638/CRX10NC3615i132001.0-20210114-Update.txt)

[2021-07-27 13:05] CiDi-IT commented on #3
[CRX10NC4810i132003.0-20210114-2-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6885646/CRX10NC4810i132003.0-20210114-2-Update.txt)

[2021-07-27 13:09] CiDi-IT commented on #3
[CRX10NC4818i132046.6-20200824-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6885666/CRX10NC4818i132046.6-20200824-Update.txt)

[2021-07-27 14:05] Ornias1993 commented on #3
hmm 05142001 seems to be the transfer lengt but I cannot seem to translate it. Any help?

[2021-07-27 14:17] CiDi-IT commented on #3
It seems related to the number of blocks to be transmitted.

01 22 02 = 440 blocks
01 22 2A = 445 blocks

[2021-07-27 14:42] Ornias1993 commented on #3
Thats what I meant, but need to translate it... somehow...
If thats done we could start working on some custom CANBUS software...

[2021-07-27 14:49] CiDi-IT commented on #3
[CRX10NC4818i132014.5-LunaLudi-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6886469/CRX10NC4818i132014.5-LunaLudi-Update.txt)

Watch this

[2021-07-27 16:26] Ornias1993 commented on #3
Seems pretty standard to me, what should I see here?

[2021-07-27 16:28] CiDi-IT commented on #3
05142001  =  01 17 0A

Another value

[2021-07-27 16:28] Ornias1993 commented on #3
Yeah i'm aware of that :-P

[2021-07-27 16:48] Ornias1993 commented on #3
@CiDi-IT
I've made some modifications to a BESST version, it should show all BESST debug logic and I added some extra verbosity.

Can you run this version of BESST (just clock BESST.exe) and send me screenshots of the output to the right, in the "console" tab?
https://github.com/OpenSourceEBike/Bafang_M500_M600/tree/main/BESST/src/1.2.18%20(annotated)

![image](https://user-images.githubuserconten

[2021-07-27 17:59] cpardo13 commented on #3
Hello,
Fisrt of all thanks for the great and hard work.
 i need the besst tool aplication modified to change the parameters of PAS for set more staggered.
 I reed all the mesages of all users but i can don't find it.
Please can addme a link for this besst aplication?
Thanks

[2021-07-27 18:00] Ornias1993 commented on #3
I think I tried to explain before, but again:
Nothing is changable, even with the BESST tool.

[2021-07-27 18:44] cpardo13 commented on #3
Yes, i know is a hardware tool. I purchuased yet. Im waiting to arrive to my home.
Thanks for the explication equally.

[2021-07-27 19:34] Ornias1993 commented on #3
@CiDi-IT I modified above code to give me more console.log output in the following code, I need to understand how the packages are build/structured:

[code]

[2021-07-28 06:00] CiDi-IT commented on #3
How do you start the console tab?

[2021-07-28 07:37] Ornias1993 commented on #3
@CiDi-IT You need to run the BESST version included with the Repo ( click besst.exe there) and select “console” in the window to the right.

[2021-07-28 07:41] Ornias1993 commented on #3
Remember: you need the latest version of this Repo, not just any ;-)

[2021-07-28 08:29] CiDi-IT commented on #3
![01](https://user-images.githubusercontent.com/87806362/127290487-4e462007-2f70-49a9-909b-3dd39090ec7c.jpg)
![02](https://user-images.githubusercontent.com/87806362/127290493-95b5eb5d-ea96-4478-8890-936232da42c2.jpg)

[2021-07-28 08:38] Ornias1993 commented on #3
@CiDi-IT  I need to compare the above screenshots with the CANBUS data, but i've no CANBUS upgrade data for the firmware you picked for above screenshots. So I need both the CANBUS data and the screenshots for the firmware...

[2021-07-28 08:43] CiDi-IT commented on #3
[CRX10NC4320i132045.6-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6891547/CRX10NC4320i132045.6-Update.txt)

[2021-07-28 08:56] Ornias1993 commented on #3
@CiDi-IT Thank you, we now know those values most likely come from a certain array in the code.
This array to be precise:

[code]

which gets processed here:
[code]

I've added even more custom debug information to the BESST build in this repo.
Mind running it again with the new version? It should give us more info on what is going into and out-off said array...

[2021-07-28 09:07] CiDi-IT commented on #3
![03](https://user-images.githubusercontent.com/87806362/127295966-db4f0e2a-09f0-42c6-bfec-d2a71b5e08df.jpg)
![04](https://user-images.githubusercontent.com/87806362/127295975-bb5844c9-0618-4536-b547-ac1d28a74a06.jpg)

[2021-07-28 09:11] Ornias1993 commented on #3
We got it:
01 1e 4a, is actually the hex 011e4a, which actually represents the file content minus the first row: 73290

Which means:
We've decoded the complete upgrade protocol now :)

[2021-07-28 11:17] Ornias1993 commented on #3
I've documented the CANBUS protocol for CANBUS controller upgrades :)

[2021-07-28 11:27] CiDi-IT commented on #3
Now we need to work on the firmware.
How can we set the different operating parameters?
How can we create a custom firmware?

[2021-07-28 11:44] Ornias1993 commented on #3
The official or opensource variant?

**For the official: **
Clearly it doesn't support it using the CANBUS, we tried it using their official tools and it doesn't accept it, except 3203. Thats what 3203, 6011, 6012 and 6013 are for.
For modifying the firmware, we need their software tool or we need to manually find out any address-stable hex values inside, which is going to be a nightmare.

**For O

[2021-07-28 11:53] CiDi-IT commented on #3
No proof that M620 CAN can be set with BESST in all its parameters, just a hope.

[2021-07-28 11:56] CiDi-IT commented on #3
Another job to do is the custom firmware for the Display 860C CAN version.
It does not allow you to configure wheel speed and diameter, but we know this is technically possible.

[2021-07-28 11:58] Ornias1993 commented on #3
Well, it is something that we haven't tried yet, so it might be worth the try.
I've a contact-of-a-contact that might be able to help with getting that firmware and some board pictures.

It should be technically possible, but I suggest focussing on the controller first, because that is actually the hard part.

**anyway, about custom/opensource firmware for the controller:**
- A good first step mig

[2021-07-28 11:59] casainho commented on #3
Do not count on that, as I wrote before on the forum:

I can not help more on this phase, as I do not have an ebike with this motor and I do not have any hardware. But, the more I see the project going on, the soon I will want to invest on that ebike. I will be following closely the project.

And I also need to develop the firmware for TSDZ2 V2 hardware, which I have the hardware for and ebikes wi

[2021-07-28 12:00] Ornias1993 commented on #3
So why are you asking people to send you controllers (one already is even doing so) if you're not going to work on them?
You create expectation this way!

[2021-07-28 12:23] CiDi-IT commented on #3
[DPC240CI10202.test[200427_1606]-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6892972/DPC240CI10202.test.200427_1606.-Update.txt)

If you need it, this is the CAN trace for updating the DPC241 display with the only firmware available.
Do you know if 860C can also be upgraded in the same way?

[2021-07-28 12:51] Ornias1993 commented on #3
Is this the complete CAN Trace?

Isn't the 860c uart only?

@CiDi-IT If you want to give it a shot, you should be able to use the 4 pins on the board with a relatively cheap tool like this:
https://nl.aliexpress.com/wholesale?catId=0&initiative_id=SB_20210728044627&SearchText=ST-LINK%2FV2+swd

The 5V pin can be ignored when giving it external power,
so besides the ground there are two other pins:

[2021-07-28 12:52] CiDi-IT commented on #3
Yes

[2021-07-28 12:54] Ornias1993 commented on #3
The 860c seems to be a uart only display indeed:
https://drive.google.com/file/d/1be2OajoRjSOCcoTF-N8u4rlPxWUr4RUE/view

[2021-07-28 12:56] CiDi-IT commented on #3
There is a CAN version that I am using on my bike.

![860C-CAN](https://user-images.githubusercontent.com/87806362/127325528-fc0c7d86-c6ff-44a7-82d0-543f4dc44f70.jpg)

[2021-07-28 12:56] Ornias1993 commented on #3
Well, it's not an official Bafang display, so I donnot know.

[2021-07-28 13:01] casainho commented on #3
Should be hard to work with you. I just wrote the reasons why I could not continue, like not having the hardware, so that is why I asked for it.

[2021-07-28 13:04] CiDi-IT commented on #3
If I connect it to BESST the display information is read.

[2021-07-28 13:05] Ornias1993 commented on #3
Personal attacks do not make this any beter.

Yes you wrote a number of reasons, but asking people to solve 1 of them, while you still are not going to work on it because you also have other reasons, is not reasonable.

[2021-07-28 13:08] Ornias1993 commented on #3
True, but it's not from bafang themselves and the actual manufacturer is not very good at documentation I think because I cannot find anything.
But even if it is, we still donnot have any firmware for it anyway...

[2021-07-28 13:11] casainho commented on #3
860C is very expensive and totally blocked in a way it must be almost destructed to have access to internal board, for developing the firmware. It is also big, more adequate for a motorcyle or a big fat bicycle.

Also there are users feedback that sometimes 860C display stops to work suddenly and then you simple can not repair it. Also seems there are new recent hardware versions with different di

[2021-07-28 13:17] Ornias1993 commented on #3
I think 860c is also a bit offtopic, as the only thing related to the m500/m600 series is the CANBUS. Which it uses in precisely the same way and not really related to the motor.

[2021-07-28 13:19] CiDi-IT commented on #3
Ok, how can we go about implementing in can?

[2021-07-28 13:21] Ornias1993 commented on #3
To be fair:
I checked out ANT+ and it seems pretty limited in scope.
Also it's not officially supported by anyone. No one besides Garmin ACTUALLY joined their  ANT+ Alliance yet:
https://www.thisisant.com/business/opportunities/current-ant-members

[2021-07-28 13:33] CiDi-IT commented on #3
So a software that uses usb2can to perform settings and firmware updates without using the programmer and the BESST software

[2021-07-28 13:51] Ornias1993 commented on #3
Let me explain the process of developing this a bit more, because I donnot think you have experience with it:
- One would base the software on one (or more) hardware packages, like usb2can.
- For that we need to find good dependencies, because we are not going to write our own CAN processor like Bafang did. Like PyCAN (which already provides documentation and support for usb2can)
- Then we start w

[2021-07-28 13:59] CiDi-IT commented on #3
You're right, I have no programming experience of that type, I work in the automation industry.
Go ahead and let me know if you need some field testing.

[2021-07-28 14:01] Ornias1993 commented on #3
For the record, these are the links to pycan:
https://github.com/hardbyte/python-can
https://python-can.readthedocs.io/en/master/history.html#background

[2021-07-28 14:20] casainho commented on #3
ANT+ LEV wireless EBike standard are supported by some big brands bicycles and sensors, like Specialized Turbo Levo, see here in action the GPS display connected to the EBike by ANT+, he evens discuss the wireless ANT+ tire pressure sensors:

https://www.youtube.com/watch?v=F43oqj1Zlww

![image](https://user-images.githubusercontent.com/147128/127338607-c7ceecbe-cf61-479c-9b6e-0a65a0a08d6d.png)

T

[2021-07-28 14:33] casainho commented on #3
By the way, that board with MCP2515, is very popular. I used it connected to Arduino and there are C++ libraries for it. I also use it on RaspberryPi, that already has a driver for that board.

RaspberryPi would be much more flexible in terms of processing and high level languages development, but, a board like NRF52840 used on our Bluetooth / ANT+ wireless controller, is much smaller, has enough

[2021-07-28 19:34] Ornias1993 commented on #3
Okey, I did some initial research on the firmware structure...
I've added AN12218.pdf and AN12323.pdf accordingly which lists the steps required to create a basic and more advanced bootloaders for the s32k1xx series SoC's.

With this in mind, I you're right and it would be easier to write our own Opensource firmware+bootloader that accepts the same CANBUS (update) protocol, than to continue and tr

[2021-07-28 20:03] casainho commented on #3
But you do not need to develop the bootloader, at least on the beginning, because the JTAG seems to be easy accessible on the board. Maybe it is even possible to route the JTAG 4 wires to outside, on possible some free space near the existing connectors - that would avoid the need to open the case controller every time to flash new firmware.

CANBUS seems to be a good upgrade over the UART. Once w

[2021-07-28 20:27] Ornias1993 commented on #3
Afaik it is just SWD and not full JTAG, but i'm not certain about that.
But even so, without access to the bootloader code and dumps we donnot even know which address portion it assumes the firmware is in. If we do know, we might be able to keep using said bootloader though, which would be preferable indeed.

I suggest just sticking to the Bafang CANBUS protocol. It already allows for everything y

[2021-07-28 20:38] casainho commented on #3
That path will be easier for final user, will need to keep using the original display, no need to touch on DIY boards. That also means loosing flexibility:
- no possibility to add a configuration or show any custom data that can be developed with our own developed firmware (we do that on TSDZ2, we show a lot of technical data like sensors state for maintenance and repair, we added advanced feature

[2021-07-28 20:43] Ornias1993 commented on #3
No, it would add flexibility, not remove it. We can still ALSO support DIY boards within the Bafang CANBUS protocol

The Bafang protocol already supports exporting a LOT of those and within the same protcol we can also write protocol expansion.
For example we could start using the xxyy70zz range for custom configurations just fine, without interfering with the Bafang protocol at all.

Why would th

[2021-07-29 08:20] casainho commented on #3
Yes, the only way is to use CANBUS to communicate. What I think I wanted to say is that Bafang displays, I think, are limited to some configurations only and to show only limited data. Having a mobile phone giving full access to all this configurations and data, would be the best. I strong believe in a Bluetooth communication with the mobile phone so I can change immediately any configuration whil

[2021-07-29 08:41] Ornias1993 commented on #3
Yes, thats true but that isn't mutally exclusive or related to the protocol the controller talks. Thats mostly just a display limit really.

Not saying you should do it alone ofcoarse, that would be relatively silly.

I've no hardware at all, I think I explained that before. Thats also why I needed so much help from Cidi.

Might be an interesting option to build our firmware on their FreeMASTER MC

[2021-07-29 08:53] CiDi-IT commented on #3
I have the hardware, but not the knowledge.
Are we sure that the path of decoding the Bafang firmware is not viable?
Then I would like to remove the doubt that M620 accepts CAN configuration messages.

[2021-07-29 08:54] casainho commented on #3
That information is not just for you, is for anyone that want to help on development. Maybe this steps could be written on the repository to help developers, it is as important as the notes about the software.

If I get the motor controller, I will for sure try it but I am not guarantying anything.

I am curious why you are working hard but you do not have the motor. What is your plan?

[2021-07-29 09:05] Ornias1993 commented on #3
The firmware is a complete program, not just a list of settings.
So someone cannot "decode" the firmware. Reverse enginering does not mean someone could create something usefull out of it, it just means one could somewhat(!) view the general structure of the code and get some information out of it.

In that case I suggest not revering to assumptions what people do or donnot have with the word "you

[2021-07-29 14:22] casainho commented on #3
I saw your answer before you wrote your last phrase and I though you were a bit cold, as for me the why, the motivation, it very important and not only get work done as if is a number output. EBikes are really important, for me personally for my physical and mental healthy, as also for my family. And sure to protect the environment!!

I see. That makes sense as I am doing the same, the more I see

[2021-07-29 14:27] CiDi-IT commented on #3
I
[DPC241CI10202.3-Update.txt](https://github.com/OpenSourceEBike/Bafang_M500_M600/files/6901258/DPC241CI10202.3-Update.txt)

f it can do any good

[2021-07-30 19:34] Migli54 commented on #3
Is the open source project mature enough to make an accurate specification of the desired system?

@CiDi-IT - Does your CAN analyzer (DIY CANBUS by CiDi) also send commands or only sniff?

I have already created a multitude of command applications based on LabView (NI) for electric vehicles. It is then easy to create an .exe usable by everyone.

Thanks for your progress

Best regards

[2021-07-30 19:41] CiDi-IT commented on #3
Certainly, the can analyzer can send messages manually or cyclically.

[2021-07-30 19:44] Migli54 commented on #3
@CiDi-IT
I saw earlier that you wanted to translate all the BESST parameters available from Chinese: Here they are:

![A](https://user-images.githubusercontent.com/87857129/127704129-ced21032-fe2c-442f-87d4-e76f89834647.jpg)
![B](https://user-images.githubusercontent.com/87857129/127704130-7c4a8127-8744-40cf-a68b-e5ed577f57fc.jpg)
![C](https://user-images.githubusercontent.com/87857129/127704133-4

[2021-07-30 19:48] CiDi-IT commented on #3
Thanks, I had already translated them, but unfortunately they are not usable for the M500 / M600 firmware

[2021-07-30 19:51] Migli54 commented on #3
Oh ok... sorry
I didn't read all of them...

[2021-07-31 07:31] Ornias1993 commented on #3
@Migli54 there is currently no opensource firmware. Not even a start. What made you think there is?

[2021-07-31 17:37] doctorrevenge commented on #3
Today i tested the m500 36v 20A test Firmware.
Perfekt!!! It works! Much more Power! So can i test 25A too? Or is it to much for the m500 Controller? Great work guys!!!

[2021-07-31 18:05] KyokushinPL commented on #3
I have noticed the f/w is lowering amperage when battery charge is lowering - something around 1A per 15% of charge. Its annoying because arounf 50% bike comes to be weak.

Maybe low-power state current (there was three current limit variable could be adjusted) - its only my assumption ofc.

Sincerely
Kyo

[2021-07-31 18:56] doctorrevenge commented on #3
I tested the 36V 25A firmware for m500... Same as 20A no difference. I think 20A is max?!? Same on my old bbs01.

[2021-07-31 19:12] KyokushinPL commented on #3
Ensure you tested on fully charged battery.

I have at now 14Amp * 48V and on fully charged it shows around 672 W output when acceleraring on 5 assist or throttle, but when battery state comes lower (dunno how much, lets say around 85%) max output comes  down to 624W and next to 576W etc.

Wysłane z iPhone'a

[2021-07-31 19:16] doctorrevenge commented on #3
Yes fully Charged 630wh Panasonic accu. Both times

[2021-07-31 19:18] Migli54 commented on #3
@Ornias1993
I wanted to talk about the reverse engineering Project here... Not a firmware. Do we have enough informations today to create a programming structogram canva? And start validating the different points?

[2021-07-31 20:18] Migli54 commented on #3
I tested 2 customs firmware And it seems to work...
However, I tested 2 controllers. One M500 and one M600. Impossible to read or write via the unlocked BESST unfortunately

[2021-07-31 21:58] Ornias1993 commented on #3
There might be another limit in the firmware that is not reverse engineered yet. As you can see in the translated screenshots (which do give a valid estimate of the amount of internal settings available) there is a multitude of settings related to max current.

But thank you for verifing that the 25% doesn't give a change. That is VERY usefull information 👍
You could try moving to a 48V batterypac

[2021-07-31 22:16] KyokushinPL commented on #3
guys, could you write me how to manage access to this screens? I am using of course modified loginbypas, do i need some special creds? i am putting there just a/a as login and pass.
i tried on besst 1.2.18 and latest and cant figure this out
i cam connecting to the bike but i am not seeing the 'assist' options, settin up the 'wheel side, speed and circumference' is last what i see on list

[2021-07-31 22:18] Ornias1993 commented on #3
*MODBREAK*
Guys: Please donnot quote posts with half a page of pictures, thank you.

[2021-07-31 22:18] Ornias1993 commented on #3
*MODBREAK*
Guys: Please donnot quote posts with half a page of pictures, thank you.

[2021-07-31 22:19] Ornias1993 commented on #3
First off:
You need latest BESST for it.
Second: you need an actual controller connected.,
Third: It doesn't actually work anyway

[2021-07-31 22:22] KyokushinPL commented on #3
hmm, so if i am understanding correctly i need to connect besst directly to controller, not in standard way to bike?

[2021-07-31 22:37] Ornias1993 commented on #3
The bike would work fine, there just needs to be a controller connected. Like I said.

[2021-07-31 22:45] KyokushinPL commented on #3
when i am connecting to the controller the screnn with current and assist is disappearing and the screen with circuference is coming. I am still doing something wrong :/

[2021-07-31 22:47] Ornias1993 commented on #3
you need to use the latest version of BESST and the login bypass. Thats all thats needed.

[2021-07-31 22:59] KyokushinPL commented on #3
Both latest.

[2021-08-01 09:09] cpardo13 commented on #3
How work the Pas with the firmware modified with more Amps?

[2021-08-01 09:51] KyokushinPL commented on #3
Its raising level of assist in linear way, the pas levels are % from max current. For me - works pretty cool. Just all steps are stronger.

Wysłane z iPhone'a

[2021-08-01 10:29] Ornias1993 commented on #3
As I explained, you cannot actually USE the readout. I just unhide the options but the DO NOT WORK.
NOT WORK AT ALL. No read, no write.

[2021-08-01 11:58] KyokushinPL commented on #3
Okay, thanx i got now, i missunderstood its only readable, mea culpa, thanx for explanation.

Wysłane z iPhone'a

[2021-08-01 12:21] Tomblarom opened #16 "Reorganizing Hardware section?"
Having a folder, called img is very generic. I have pictures of a M500 and M600 controller version and wanted to commit them, but I won't just throw it into that folder. I'd suggest adapting the structure like this:

[code]

In my opinion it's important to trace the hardware changes through the different PCB revisions! We can't assume M500 2018 = M500 2021.

[2021-08-01 15:55] CiDi-IT commented on #3
I have only one doubt, why did Bafang leave BESST the ability to read and write those parameters and then lock them at the firmware level?  Maybe for tweaking, but in this case maybe there is a backdoor to reactivate them.

[2021-08-01 15:59] Ornias1993 commented on #3
Considering the language is also mostly still in chinese, I expect they have a certain number of developerment firmware out there OR they are planning to open it up for some manufacturers. The way it's locked is that there are 3 or 4 dealers that are currently whitelisted for this feature, so I expect it's still just in BETA stage.

Although I doubt they are going to backport it to m600 and m500

[2021-08-01 17:20] Ornias1993 commented on #16
There are a few important things to note here:
- I was/am already planning to restructure it a bit, though i'm also looking into moving to another documentation platform altogether using github pages, depending on what suit our needs best
- The `img` folder is a store to store images embeded into other content. This is normal development best-practice. We just haven't found the time yet to include

[2021-08-01 17:23] Ornias1993 commented on #16
Speaking of which... @casainho Could you please enable github pages in settings and point it towards the /docs folder?

[2021-08-01 17:51] casainho commented on #16
I just gave you maintainer permissions, I hope you can now configure this option.

[2021-08-01 18:05] Ornias1993 commented on #16
Awesome, thanks!
I'll work on the docs side this month, though I also have some work for another project so it might take a few weeks :(

[2021-08-01 18:10] casainho commented on #16
Has you or anyone plans to move on firmware development?

[2021-08-01 19:58] Ornias1993 commented on #16
If anyone could get me the firmware/memory/debug dump, I would (even without hardware) be willing to put some time into figuring out which memory address gets loaded as a firmware entrypoint. Preferably I would reuse the Bafang bootloader if we can, because it would mean users could just load opensource firmware without needing to change the bootloader.

[2021-08-01 20:01] Tomblarom commented on #16
I'm not that experienced, to help with development, other than testing or providing hardware, like I offer you. Got M500 ready to ship, but currently unsure who shall receive it. As I said, got M500 and M600 for development purposes.

@Ornias1993 can you add them?
![IMG_20210801_120530_1](https://user-images.githubusercontent.com/12703270/127783848-39895d50-ae69-42dc-b6d2-6678815e1826.jpg)
![IMG_2

[2021-08-01 20:04] Ornias1993 commented on #16
@Tomblarom OMG WOW, those pictures are REALLY good!
I got your email, will answer it tomorrow or the day after... 👍

[2021-08-01 20:08] Ornias1993 commented on #16
THose controller boards are really interesting!
Two m600 boards and one of which has double the FETS and double shuts and the other has not...hmmm...

[2021-08-01 20:29] Tomblarom commented on #16
I renamed the files to make clear, what is what. You can check again.

**M500 M600 Controller Externals:** Left cables are M500, Right cables and stickers (were stacked, maybe because it was reprogrammed) are M600
**M500 Controller Serial:** There is none, since the controller shell had no serial number on it.

Thought about annotating them, but 4πr^2 (in the ES forums) did an awesome job annotati

[2021-08-01 20:59] Ornias1993 commented on #16
@Tomblarom There are no file names the way you uploaded them. Also afaik github adds some compression.
Could you send me the raw files?

[2021-08-01 23:41] casainho commented on #16
@Tomblarom great work! Seems the board is 2 layers only, right? if so, with such good pictures, would be great if someone could draw the schematic even if partially. For instance, to drive the motor, there is need to control the mosfets and read the shunt current, as also battery voltage, I think. Also throttle is needed for input of commanded  motor current. Also UART is needed for output motor v

[2021-08-02 08:06] Tomblarom commented on #16
I'll try to use my SLR camera and redo the images for easier tracing.

Nope.. Unfortunately got no oscilloscope.. As I said:

[2021-08-02 08:37] Ornias1993 commented on #16
@Tomblarom Could you give a lost of which boards you've got?
Maybe you could send the broken one (unless you destroyed that one for the pictures, which would be a shame really) to me to check if I can power it to dump the firmware. afterwards I could forward it to @casainho relatively cheaply.

[2021-08-02 08:52] casainho commented on #16
Before sending the boards to anyone, would be great if you could use a multimeter to follow the connections on the board and draw a partial schematic. Do you have time and motivation to do this? If so, I can guide you on how to draw the schematic.

[2021-08-02 11:47] Ornias1993 commented on #16
Agreed, tracing would be great!

[2021-08-02 13:14] CiDi-IT commented on #3
@Ornias1993 The version of "loginbypass.py" that is on the reposity does not allow access to the screen with the parameters 6011/6012.
How should it be changed to unlock it?

[2021-08-02 14:52] Tomblarom commented on #16
Unfortunately not. Fairly busy with other projects. That's the best I can do for you right now.

[2021-08-02 14:54] cpardo13 commented on #3
Hello,
It's possible to add a experimental firmware for m600 36V with 20A and the Low voltage level optimized for 36V battery?
The next week i will test the diferent firmwares with the BESST tool.
Thanks

[2021-08-02 16:42] Ornias1993 commented on #16
With equipment I was refering to a list what m500 and m600 hardware you got available to distribute...

[2021-08-03 05:54] cpardo13 commented on #3
@CiDi-IT big thanks for the firmware!!

[2021-08-03 07:10] Tomblarom commented on #16
- Broken M500, M620 controller
- New M600 controller
- M500, M600, M620 CAD
- Broken SW102

[2021-08-03 09:04] Ornias1993 commented on #3
@CiDi-IT @KyokushinPL and @casainho

I think I might have found 2 locations that might represent the 20A hardlimit on Amps:
0x64E
or
0x752

Both addresses are hex values that translate to `decimal 20` and are precisely the same in ALL firmware files we have. Same location, same value.

[2021-08-03 10:09] KyokushinPL commented on #3
I am on 15Amps f/w at now, but i have noticed i cant exceed 700W what could mean the 14Amps is max for 48V version. I need to do more tests. I have same peak as on 14 Amps f/w.

[2021-08-03 10:25] Ornias1993 commented on #3
COOL, very usefull indeed.
However 720 is already a bit higher than default :)

[2021-08-03 19:00] Tomblarom commented on #16
Who shall receive my hardware? Can you discuss this?

[2021-08-03 19:25] KyokushinPL opened #25 "M500 (M600?) Current limit"
Its been discovered the 0x774 in firmware is corresponding to the Current Limit, but it seems to be not exactly that, because:

- On "CRX10NC4812i142015.5-12A-20210616.bin" what is reporting after flashing as "CRX10NC4810i142015.5 i have around 670W in peak  and in the 0x774 is 0A which is 10Amps.
- On "CRX10NC3617i142017.7-28-2230-20200911.bin" is reporting on photos around 750W or more (but thre

[2021-08-03 19:33] casainho commented on #16
On next 2 weeks, If I had the hardware, I would only try to connect the flash/debug JLink to see the boards works on that - I would not be able to do more.

And I really think the next step must be do partially the schematic, as motor controller firmware can not be develop without knowing the connections from the microcontroller to the hardware. It needs someone motivated and with time to do that,

[2021-08-04 08:12] Ornias1993 commented on #25
Thread is fine with me :)
Thanks for the hard work :)

[2021-08-04 08:13] Ornias1993 commented on #16
@Tomblarom You can send it all to @casainho I think thats the most tactical approach atm.

[2021-08-04 11:21] CiDi-IT commented on #3
In a system with 48V battery or done the following tests:

I tried the 48V firmware by changing the minimum voltage to 38V.
the display disconnects the bike at the original voltage of 43V.

I tried the 43V firmware by changing the nominal voltage to 48V and the maximum to 53V.
The display incorrectly indicates the percentage of charge as if the change did not exist.

I tried the 36V firmware by ch

[2021-08-04 11:23] CiDi-IT opened #26 "M500 - M600 Voltage limit"
In a system with 48V battery or done the following tests:

- I tried the 48V firmware "CRX10NC4818i132046.7" by changing , the maximum current 20A "0774=14" and the minimum voltage to 38V "076C=26".
The display disconnects the bike at the original voltage of 43V and the current does not exceed the original value of 18A.

- I tried the 43V firmware "CRX10NC4320i132045.6" by changing the nominal vol

[2021-08-04 13:47] Ornias1993 commented on #26
The first was already discovered/discussed in another thread #25

You can **NOT** change the nominal voltage, I knew this already. There are multiple locations where it's used and I've not yet found/figured all of them. So that explains the second and third issue.

[2021-08-04 13:47] #26 closed

[2021-08-04 21:05] doctorrevenge commented on #25
![Unbenannt](https://user-images.githubusercontent.com/62115056/128254629-b67074ed-ec5d-4387-9f64-bde020166c60.jpg)
i thinck somebody at leaderfox has a tool to change firmwares. We need a contact ;)

[2021-08-04 22:41] Ornias1993 commented on #25
@doctorrevenge I got multiple reports about this brand already, I call it a hoax and fake for now. As there are no m500 firmwares on the website.
Instead of a screenshot, please actually provide a download URL.

[2021-08-04 22:54] KyokushinPL commented on #25
For now the most mysterious (at least for me) files are:
CRX10NC4812i142015.5-12A-20210616.bin (0A on 0x774) - stronger than 10 Amps in real - around 570 (or higher, need re-test)
CRX10NC3617i142017.7-28-2230-20200911.bin (0F on 0x774) - stronger than 15Amps, possibly around 750W
because they have measured and confirmed significantly higher 'peak' power than Hex value on 0x774 is stored

[2021-08-05 07:17] doctorrevenge commented on #25
https://www.leaderfox.cz/en/guides

You Can download it there. Scroll to the end. I tested the Firmware for m300 and m500. Both works

[2021-08-05 07:34] Ornias1993 commented on #25
I just get a 404

[2021-08-05 07:35] Ornias1993 commented on #25
@doctorrevenge can you send everything and screenshot by enail possibly?

[2021-08-05 08:04] KyokushinPL commented on #25
https://www.leaderfox.cz/data/file/BESST%20Bafang%20mid%20motor%20%20firmware%20AJ.zip here is direct url

[2021-08-05 08:56] cpardo13 commented on #25
@KyokushinPL hello.
The m600 36v25A firmware also have 0F in 0x0774. With around 900w of power.

[2021-08-05 10:53] doctorrevenge commented on #25
Maybe we must try to make it possible to Flash m600 36V 25A in a m500 Motor and See whats happening. Maybe it is easier to change m500/600 ID in Firmware to make it flashable...

[2021-08-05 13:59] Tomblarom commented on #16
@casainho do you want me to send the Higo cables + Innomaker HW with it? I definitely need them + M600 controller (working!) back, at some point.

![image](https://user-images.githubusercontent.com/12703270/128362726-f0f17cb9-0c1e-47ba-a4a6-f9a4cee948e9.png)

[2021-08-05 14:05] casainho commented on #16
For the development, all that components will most for sure be destroyed.

[2021-08-05 14:37] Tomblarom commented on #16
I think you can get the most from the broken M500, without destroying the M600. Do it if you really have to, but I'd be happy to get it back. - Can you at least answer the main question, I asked? I even posted a picture??

[2021-08-05 16:29] Ornias1993 commented on #25
@doctorrevenge Got your firmwares and added them to the catalog :)

Great idea btw, i'll create an experimental firmware to try flash m600 on m500 boards 👍

[2021-08-05 16:32] Ornias1993 commented on #25
I've just added 2 firmwares (one for 36v and one for 48v) that are m600 firmwares with a change that should force BESST to flash them to m500.

[2021-08-05 17:37] KyokushinPL commented on #25
Its working and i seen max 990 W output so it seems to be 19-20Amps limit. However, i reverted to M500 firmware. M600 have slightly different gears, different assistance and finally less MOSFETs on controller board, i would like to avoid burn controller.
Engine should handle that, finally its same as M600 except one plastic gear, but i am not sure of the controler will  handle 1kW in daily usage.

[2021-08-05 20:55] Ornias1993 commented on #25
Thats interesting, thanks for your feedback... Thats some success right there :)

Yeah the actuall Electromotor shouldn't be the issue here.
That being said:
The M600 with double MOSFETS, should be able to handle more than 2KW, so I think 1KW with half the MOSFETS should work out fine 👍

[2021-08-05 21:03] Ornias1993 commented on #25
I'll port all m600 firmwares with the same patch, so we can try that out... Should be a few with lower power limits as well :)

[2021-08-05 21:19] KyokushinPL commented on #25
how about shunt resistors? M600 have two, M500 one.

[2021-08-05 21:28] Ornias1993 commented on #25
Shunt resistors and amp-ratings really aren't the limiting factor here. One shuntresistor isn't magically going to blow up the board, simply put: MOSFETS have WAY lower durability because they need to handle all the powerflow, shuntresistors do not have to hence can handle way more power.

In theory halfing the amount of resistance should half the amp readings. Which it clearly didn't do in your t

[2021-08-05 21:33] KyokushinPL commented on #25
I have observed the temperature of controller and engine and there was no noticeable (in my not reliable test) higher than on M500 f/w.
I just put highest gear, hold the rear breake (to simulate the road resistance) and push up the throttle to achieve highest possible value. Its silly way of testing at home but if something is working then its not silly ;)

[2021-08-06 09:02] KyokushinPL commented on #25
I have performed additional tests, as i suspected the stock f/w "CRX10NC4812i142015.5-12A-20210616.bin" have 672W peak otuput what is meaning this have 14Amps not 12 Amps.

It seems 0x774 does not mean max current, however in my opinion its connected with current somehow but with rather with degradation of power in battery charge function - for example - on 50% of battery you will have more peak p

[2021-08-06 11:11] Tomblarom commented on #16
As I got no feedback, I only provide the broken M500 and M620, since I have no guarantee to get my freely provided hardware back.

[2021-08-06 11:41] doctorrevenge commented on #25
i have tested the modded m500 36V 25A Firmware... it works. i see peaks of 1000W and 25A but the 36V17A is more aggressive... I like it more. a dream is the peak from 36V25A in the 36V17A firmware ;)

[2021-08-06 11:56] KyokushinPL commented on #25
what peak you have on 36V17A ?
what exact filename you tested for 25A?

[2021-08-06 12:07] doctorrevenge commented on #25
On 17A ca. 750w an 20A peak
On "625" 25A testfirmware ca. 1000w an 25A peak
But the 17A firmware is better... maybe my Battery or bms cant handle 25A stable?!? What about the guy with the crussis largo 9.6 he has the biggest battery from crussis installed... maybe it works better on his bike.

[2021-08-06 12:15] KyokushinPL commented on #25
battery surely is fine, its same one as for M600.
Maybe its not 1000W, maybe its only displaying 1000W, its worth checking. Vmax test on full throttle should verify that.
If peak is a true 1000W then vmax will be higher no matter what.

[2021-08-06 12:34] Ornias1993 commented on #25
You mean the firmware starting with 625?
Please people actually use filenames like @KyokushinPL

[2021-08-06 12:38] Ornias1993 commented on #25
@KyokushinPL youre right, it might display more than is actually used due to having one less resistor!

vMax? Velocity max? Max velocity and max rpm wont change with current afaik...

[2021-08-06 12:38] Ornias1993 commented on #16
@casainho you should’ve respondes on this.

[2021-08-06 12:39] KyokushinPL commented on #25
If peak power is current then max velocity (vmax) will be higher, same bike, same gears, more power = higher speed on WOT (wide open throttle)

[2021-08-06 12:42] Ornias1993 commented on #25
Ahh vmax under zero resistance? Yeah that should be different indeed :)
Though you would also need to nuke the speedlimits and such.

[2021-08-06 12:45] KyokushinPL commented on #25
The maximum speed on road test, on same road and same resistance. On zero resistance he will hig 60km/h limit always.
We need a simulation of dyno run in same and reatable test environment.

So if @doctorrevenge need to go to flat road, put max assistance and ride so fast as he can on only throttle at the end (to remove the human assistance factor from measurment).
And IF this 1000W is real then h

[2021-08-06 13:10] casainho commented on #16
Sorry, I am being riding for some days, away from computer.

If there are special controllers and with special firmwares that are sold for 1000 euros, then I think this project can be a BIG problem for that companies.

I understand that development tools are expensive, but there is not other way. And it is very expensive for one person only donate a complete part like a motor or a bicycle. I think

[2021-08-06 13:11] KyokushinPL commented on #25
@Ornias1993
the files
CRX10NC4810i142015.5-20191126.bin and
CRX10NC4818i132014.6-20191126.bin
looks similar, same date, one is m500 and one m600, one have 570 peak and second around 1kW.

[2021-08-06 13:42] Ornias1993 commented on #25
So? What are you responding on?

[2021-08-06 13:45] KyokushinPL commented on #25
I tried to compare them in matter for "max current" difference, something other than 0x774, but dont have clue how to move it forward :/ maybe these two be somehow useful to you.

[2021-08-06 22:13] Ornias1993 commented on #25
@KyokushinPL i suggest starting to focus on 625 vs normal m500 firmwares instead.

[2021-08-07 14:46] KyokushinPL commented on #25
I done the road test and:

Adapted M600 f/w **(625-CRX10NC4818i132046.7-28-2230-20201121.bin)** is showing 1kW in peak but bike is noticeable slower, i hit 35km/h on throttle
Stock M500 f/w CRX10NC4812i142015.5-12A-20210616.bin with 670W in peak is hitting 40km/h on throttle.
- below 30% the bike is cutting the power to 10 Amps (no matter of 0x774 value)
- i have been compared stock CRX10NC4812i14

[2021-08-07 14:55] Ornias1993 commented on #25
@KyokushinPL Well not really.
- you've proven that m600 firmware can actually be loaded on m500 boards
- You showed that the m500 boards indeed have half the resistors and thus a wrong resistance reading when loading m600 firmware
- You've hence created an interesting case in that we could load m600 firmware with full functionality by adding the missing resistor and loading m600 firmware

**Anyway

[2021-08-07 15:07] KyokushinPL commented on #25
A list with wattage is done (for original Bafang firmware and 48V version), you need to scroll table right.

I had also thinking about the adding the missing hardware (mosfets and resistor) will allow to achieve real peak 1kW output and turn M500 board to M600 board or not, however i would be more happy to add +100W to M500 peak and adjust this current decay threshold on lower battery voltage - it

[2021-08-07 15:20] Ornias1993 commented on #25
I want a clear table with ALL m500 firmwares.
I'm seeing a few m500 and a few m600 firmwares.
Can you make something more clear please, also: donnot modify the firmwares. Just the official firmwares.

No you do NOT need the extra mosfets for 1KW output. just the resistor.
I'll explain again: M600 mosfets are build for 2kw peak. m500 for 1kw peak.

They do not use full 5 assist and no throttle (bec

[2021-08-07 15:33] KyokushinPL commented on #25
Table for M500 48V (only known official):

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/Andrzej/AppData/

[2021-08-07 16:17] doctorrevenge commented on #25
On the CRX10NC3617i142017.7-28-2230-20200911.bin
Max speed is ca. 55kmh on Bicycle stand

On the 625-CRX10NC3625i132047.7-28-2230-20201121.bin
Max speed is ca. 45kmh on Bicycle stand

With the 17A firmware the bike Shows most the time 750W till Vmax.
With the 25A firmware the bike Shows ca. 1000W but not often. It "jumps" between 500 - 1000 but Not constant... maybe the Controller from m500 is not

[2021-08-07 16:18] doctorrevenge commented on #25
![20210505_210318](https://user-images.githubusercontent.com/62115056/128606775-8b03b78b-2baf-4666-9271-1ea0cfaf858e.jpg)

[2021-08-07 16:19] doctorrevenge commented on #25
With 17A Firmware on flat road...

[2021-08-07 18:33] doctorrevenge commented on #25
Maybe we must find the difference between the Stock 15A 36V m500 firmware and the 17A m500 firmware. The 17A firmware was sent to me by an bafang engineer... so tuning file is direct from Bafang. No Mods ;) and the difference to the "standard" firmware is amazing... for the 48V m500 Motor it doesnt exist tuning firmware from Bafang?! I asked for it, but the bafang employer wanted a serial Nr from

[2021-08-07 19:42] Ornias1993 commented on #25
@KyokushinPL Awesome table, thats what I wanted :)
mind finishing the power readings for all of them? That way we can add that the completed table to the readme...

You could. But for a novice solderer, the shunts are easier to solder because they have bigger pads, that was what I was refering to ;-)

Nope, EU regulation is clear as day. Just because Poland did a bad translation is kinda irrelevan

[2021-08-07 20:14] KyokushinPL commented on #25
@Ornias1993 in Poland our regional law is over anything else. UE wanted to change that not so far ago, but our gov don't agree, so if our law will tell us to wear only red and white then we have to, it does not matter what ue say ;)
As I wrote, we have different categorisation than rest of EU, we have no speed pedelec, ebike, L1A etc.
We have bicycle (powered up to 25km/h, nothing about throttle,

[2021-08-07 21:06] Ornias1993 commented on #25
No, you're wrong.
I think you do not have any formal legal education? (and with that I'm not talking about a single course within some other form of education) Because you clearly have some issues with some basic principles in international and european law.

In those other legal maters (between the EU and Poland), it was indeed the case that the polish constitutional court states that the polish

[2021-08-07 21:08] Ornias1993 commented on #25
Can you please not tell me how to do the reverse enginering steps I already have done to get you these experimental firmwares and documentation in the first place? >.<

Really, I understand you want things to work out...
But you are going to explain basic EU legal issues to someone with a legal background, guessing how a shunt resistor works to someone who know how a shunt resistor works and expla

[2021-08-07 21:17] KyokushinPL commented on #25
Only one thing what is  obligated PL citizen to know for riding a car or bike is our road law and that one is defining a bike here, and here and only here are bicycle is defined, and as i wrote, there is nothing about throttles and internal discussion is about how it should be understood - about case its not defined or its implied from EU as you wrote (law guys are arguing about that). I am not sa

[2021-08-07 21:32] Ornias1993 commented on #25
It's literally stated in EU law. There is no legal debate possible about that. None.
Sorry, but you're wrong here.

Maybe you should defer to people that did in that case, instead of repeating yourself when I literally pointed you towards the regulation that prohibits throttle AND is directly applicable in memberstates due to the legal weight of EU regulations on the definition of goods within the

[2021-08-07 21:37] Ornias1993 commented on #25
Finding these values is what is called reverse enginering.

I've compared a lot of firmwares, you are assuming a lot.
I've spend DAYS and DAYS on end working on these firmwares.

I only posted about 5-10% of what I did in terms of research, because I only send the highlights.

[2021-08-07 22:07] KyokushinPL commented on #25
Ornias, you pointed the regulation but i am telling you the PL citizen may totally dont care about this regulation because important for him is only PL road law and their definition of bicycle. Art 2.47 PoRD and that is the very only story what is interesting the bike rider.

[2021-08-07 22:12] Ornias1993 commented on #25
Sorry, but you're wrong here. Polish law is not the only law that applies to polish citizens (or any citizens within the EU single market). I know it's very complicated, but it's not disputed by any legal scholar that EU market regulations have direct application within the EU single market.

[2021-08-07 22:13] KyokushinPL commented on #25
Different thing is to allow something to sell in EU and here a bike need to be compliant with EN 15194 and different story is a road law how the bicycle defined is. And these stories are different.

[2021-08-07 22:28] Ornias1993 commented on #25
No, it's not "legal" or "illegal". It's either a bike or "not a bike".
It requires type-certification or doesn't.

Stop talking about 15194 btw, thats not related to the subject at all.

"REGULATION (EU) No 168/2013 OF THE EUROPEAN PARLIAMENT AND OF THE COUNCIL"
Enforces type-registration for all vehicles that are relevant to us.
It exclude some vehicles and is 100% clear that throttles mean a veh

[2021-08-07 22:34] Ornias1993 commented on #25
But those options aren't relevant in this case. There is no other catagory of vehicles in Poland.

Poland fucked up and made a mistake codifying EU law into national law. Which happens quite often.
Nothing more nothing less.

[2021-08-07 22:35] KyokushinPL commented on #25
there is no speed pedelec in Poland :) As i told you, there is motorcycle (and that is defined according to EU types), motored-bike and bike and i gave you a source of these definitions (and only existing ones in poland).

[2021-08-07 22:36] Ornias1993 commented on #25
DUDE.
I explained to you already that just because it isn't CALLED a speed pedelec in Poland, doesn't mean it doesn't exist.
You really have no idea what you are talking about, have no legal background and keep trying to educate me without understanding the subtle nuances of the law.

[2021-08-07 22:37] KyokushinPL commented on #25
I gave you law article with definitions and only definitions in Poland which should care a person who is driving a bike.

[2021-08-07 22:44] Ornias1993 commented on #25
One more time:
1.
Those LnX EU catagories automatically exist in all EU countries.
HOWEVER: They donnot all need to allow them on the road.

2.
In law it doesn't mater if it's called a "speed pedelec".
It just maters if it fits within a description. L1B and L2E fits perfectly fine within polish law you described. :-)

[2021-08-07 22:52] KyokushinPL commented on #25
Categories exists but they're are not implied to the road law, and in road law there is no LnX categories. For example, the motorcycle is based on LnX (you may see even references) but bicycle or motored bike not, and that is mostly why definitions from EU regulations have no road law implications and as you noticed there is difference with codyfing pl law and eu. Intentional or not, but it is.

O

[2021-08-07 22:53] KyokushinPL commented on #25
Categories exists in EU but they're are not implied to the Polish road law, and in road law there is no LnX categories. For example, the motorcycle is based on LnX (you may see even references) but bicycle or motored bike not, and that is mostly why definitions from EU regulations have no road law implications and as you noticed there is difference with codyfing pl law and eu. Intentional or not,

[2021-08-07 22:57] Ornias1993 commented on #25
**Anyhow:**
Totally unrelated, but some topics have become totally unreadable so I'm going to close topics after about 50 posts from now on.
So I'm closing this, to prevent this from becomming unreadable.

Summary:
- our experimental firmwares did not work
- Uploading m600 firmwares to the m500 does work
- m600 firmware on an m500 has issues with the fact the m500 has half the shunt resistors so i

[2021-08-07 22:57] #25 closed

[2021-08-07 22:59] Ornias1993 commented on #3
**Anyhow:**
I'm closing this, because this has already become unreadable

Summary:
- We worked on a lot of documentation here
- We worked a lot on reverse enginering of the CANBUS protocol
- We worked a lot on reverse enginering of BESST
- We made some progress in sorting the firmwares
- There might be a long road to get opensource firmware actually going, if it's going to hapen anyway.

[2021-08-07 22:59] #3 closed

[2021-08-07 23:00] Ornias1993 commented on #16
Lets keep this on-topic from now on.
Please create new issues for new subjects (like sending hardware and such).

@Tomblarom I'll do some restructuring this week and close this ticket once done.
I think that solves you issues :)

[2021-08-07 23:02] Ornias1993 commented on #16
I've hidden the whole off-topic discussion about sending hardware. As it has nothing to do with the subject of this ticket and is also mostly resolved by now :)

[2021-08-09 07:16] Tomblarom commented on #16
One last off-topic: I sent out the parcel, recently. ;)

[2021-10-11 21:42] cpardo13 commented on #16
Hello.
I have tested the different firmwares in my 36v m600 motor.
The original firmware is the CRX3625i and have around 900w of peak power.
The firware CRX3615i have around 600 w of peak power.
I tested the experimental firmware 36v-20a and the peak power it's the same as 15a, around 600w.

With the 25a firmware, the power at PAS 1 is very high, around 400w.
With the 15a firmware, the power at PA

[2021-10-12 08:23] cpardo13 opened #30 "36V firmwares tests"
Hello.
I have tested the different firmwares in my 36v m600 motor.
The original firmware is the CRX3625i and have around 900w of peak power.
The firware CRX3615i have around 600 w of peak power.
I tested the experimental firmware 36v-20a and the peak power it's the same as 15a, around 600w.

With the 25a firmware, the power at PAS 1 is very high, around 400w.
With the 15a firmware, the power at PA

[2021-10-22 03:23] daveomeara99 opened #31 "Help with BESST please?"
Using loginbypass.py, I can upgrade firmware, no problem, and I can get to this screen

[](https://github.com/OpenSourceEBike/Bafang_M500_M600/blob/main/BESST/img/Controller%20Set.jpg)

to change wheel circumference, speed limit, etc.   but I cannot get to this screen

[](https://github.com/OpenSourceEBike/Bafang_M500_M600/blob/main/BESST/img/SharedScreenshot.jpg)

to adjust the limit current/spee

[2021-10-23 07:45] Crow-Control opened #32 "Stator and Rotor weight and details"
A slight update:
I figured out how Bafang complied to the EU nominal power regulations.
The m500 DOES have a different stator (and also maybe rotor).

However, i got no specifics, can anyone comment with the weight of their stator and/or rotor?

[2021-10-23 08:19] casainho opened #33 "OpenSource DIY, simple, EV display with Bluetooth and ANT"
I developed OpenSource firmware for cheap easily available displays for EBikes, like 860C or SW102. SW102 is a very small one that I prefer. Both this displays are so popular that are used on various devices even like electric motorcyles.

Recently I bought a cheap popular Xiaomi M365 electric scooters and I need a display for it with easy customized OpenSource firmware. I found that SW102 can not

[2021-10-23 08:47] #33 closed, assigned to nobody

[2021-10-23 08:54] casainho opened #34 "OpenSource DIY, simple, motor controller"
I want to have advanced control of the motors and full system of different EBikes motors I have and electric scooters. Over the time I saw the manufacturer changing the motor controller on the same motor, for a totally different microcontroller and then we had to start again wall the work to develop our OpenSource firmware. And it is very difficult, because sometimes the manufacturer only sells at

[2021-10-23 12:47] Crow-Control opened #35 "Please add pictures of actual motor assembly"
I just realised we have no pictures of the actual motor part (the stator and rotor assembly), it would be super awesome of someone could send those in.

We have very in depth pictures of the case, the gears, the electronics etc.
But simply nothing featuring the electromotor itself.

This might be worthwhile to, for example, look into cooling oppertunities.

[2021-11-08 14:25] cpardo13 opened #36 "swap controller?"
hi,
anyone are interested in swapping their M500 controller for an M600 controller?
Or anyone knows where to buy m500 controller?
Thanks

[2021-11-08 14:48] Ornias1993 commented on #36
Swapping should work fine, assuming you fix the wiring (which is different).

[2021-11-08 14:48] #36 closed

[2021-11-08 14:55] cpardo13 commented on #36
I know i have to change the wiring.
My question is.. Anyone wants to swap their m500 controller for my m600 controller.

[2021-11-08 16:10] Ornias1993 commented on #36
Github issues are not discussion boards, hence thats why it's closed.
Questions about hardware documentation are fine, and your hardware related question is answered.

[2021-12-02 15:41] Migli54 commented on #34
They did it, and quiet well it seems..

https://lunacycle.com/blog/luna-m600-ludicrous-v2/

[2021-12-02 20:42] KyokushinPL commented on #34
Unfortunately they're not selling this separately, only with their bikes.

[2021-12-02 21:10] Ornias1993 commented on #34
Dickmove tbh.

[2021-12-22 22:51] Ornias1993 opened #37 "Building on Luna's work"
As Luna's Ludi v2 work is opensource but their hardware is not...
Maybe we can actually work on the hardware now that we have opensource software?

VESC itself uses an industry standard STM32 variant and have schematics available online:
https://vesc-project.com/sites/default/files/Benjamin%20Posts/vesc_75_300.pdf

If we can get a board diagram of the ludi v2 that would be even easier!

@casainho

[2021-12-22 23:21] casainho commented on #37
I am working with other Xiaomi M365 developers to develop an OpenSource EBike and EScooter motor controller. My idea is to have a generic  EBike and EScooter motor controller, with room for custom electronics, easy do DIY and repair.
I will use it first on my Xiaomi M365 electric scooter and then probably move to use it on EBikes motors.

My idea is to have room for some custom electronics, so I c

[2021-12-22 23:26] Ornias1993 commented on #37
Is there a reason to keep it not VESC-project compatible?

[2021-12-22 23:37] casainho commented on #37
In terms of hardware, VESC 4 only supports 12S battery. It is hard to repair. Has no room for custom electronics / customizations.

As for firmware, I found a more simple FOC firmware. May not be the most complete motor controller implementation, but it is easier to understand and most probably easier to port to other different microcontrollers in future, if needed. Also the developer is very acti

[2021-12-22 23:40] Ornias1993 commented on #37
@casainho I actually agree...
I was reading through the VESC sourcecode and it's pretty much a clusterfuck.

That project looks pretty need! :)
Whats the current status of your work, anything opensource so people can actually help with it?

[2021-12-22 23:42] casainho commented on #37
By the way, there is now SimpleFOC, motor control for Arduino!! https://simplefoc.com/

And it has the advantage to be easy to customize electronics and firmware, since it is an Arduino shields and Arduino firmware!!

But the hardware is low power, without focus on EBikes. Also the firmware is not so good to implement FOC, at least it is what others are saying. Still I really like the results they

[2021-12-22 23:47] casainho commented on #37
And about the display, I already have a stable version of DIY, simple and easy to build and repair display. The firmware it is also easy to customize for other devices.

![image](https://user-images.githubusercontent.com/147128/147167138-2605b5ea-3756-4b8e-927c-feca4084780a.png)

Simple schematic (for Bafang M800, just need to add the module for CAN):
![image](https://user-images.githubusercontent

[2021-12-22 23:48] casainho commented on #37
I am working on this Telegram channel: https://web.telegram.org/z/#-472926861

[2021-12-22 23:54] casainho commented on #37
Invitation to the telegram channel: https://t.me/+HDBKjVIwfiDAxQD5

[2022-01-16 11:50] AnthonyMorley opened #38 "Using the modified firmwares"
Hi people. Sorry if this is posted in the wrong place (but I am new to github and unfamiliar with protocols; this is the only place I could find to type a message).

I am wanting to try one of your modified firmwares on my 48v M600, using the BESST box.

Do I simply download a firmware from the firmwares page, and upload it to the bike via BESST ?

Thank you

[2022-01-16 11:57] Ornias1993 commented on #38
We do not offer (working) modified firmwares at the moment.
THe other firmwares are just official firmwares.

[2022-01-16 12:02] #38 closed

[2022-01-16 12:20] AnthonyMorley commented on #38
Thank you for the immediate response.

I understand that they are experimental firmwares.

And I understand that there are no guarantees.

And I can see that you have worked very hard on this project.
And it is very kind of you to opensource the files and information.

I have official 14.7 M600 firmware installed on my bike.

Can I please ask what is the difference here from stock firmware  ...
-

[2022-01-16 14:45] Ornias1993 commented on #38
As stated before we offer no working custom firmware.
So discussing that is kinda irrelevant.

[2022-01-16 14:47] Ornias1993 commented on #38
Actually, I don't know what you are doing at all, becuase the files you referenced have been deleted from the Repo for a while now.
The discussion about it is public if you want to read into it.

TLDR:
There are NO (working) custom firmwares being offered by us at this time.

[2022-01-25 19:53] Kolaspor opened #40 "Bafang _m500_m600"

[2022-01-25 23:01] #40 closed

[2022-02-02 10:28] CiDi-IT commented on #35
This is the list of M600 motor bearings:

Rotor
Rear 6000-2RS 10x26x8
Front 16001-2RS 12x28x7

1st Reduction
Rear 628-2RS 8x24x8
Front 16001-2RS 12x28x7

2nd Reduction
Rear 16001-2RS 12x28x7
Front 16002-2RS 15x32x8
Supported free wheel rollers HFL1426 14x20x26

Right side gear:
Dust cover 48x54x3
Bearing 6810-2RS 50x65x7
Bearing 6810-2RS 50x65x7

Right side crank arm:
Dust cover 22x28x4
Roller bea

[2022-02-05 08:44] Tomblarom commented on #37
@casainho in fact, this not really related to the aim of this issue nor the repo in general.

[2022-02-06 20:16] casainho commented on #37
About reusing technology for EBikes motors, we got our OpenSource firmware running an Xiaomi M365 EScooter motor(1) as also running the TSDZ2 mid drive ebike motor(2). This same firmware did run on our OpenSource and DIY motor controller(1) as also on the M365 motor controller -- see the videos bellow.

You guys feel free to reuse this technology on this project!! We are building this as modular,

[2022-03-31 08:24] chick0n opened #51 "dpc171.uart Firmware"
Hi

Could anyone provide me with the Bafang stock Firmware for a dpc171.uart Display?

Because in my dpc171, the hidden menu is locked.

[2022-05-05 08:26] #51 closed

[2022-05-15 17:36] briangdd opened #68 "CRX10NC4814i101003.0-28-2230-boot3.0-20220218085143.bin for M510 controller cannot be flashed"
CRX10NC4814i101003.0-28-2230-boot3.0-20220218085143.bin for M510 cannot be flashed.

File can transfer to BESST device, but no evidence that anyone has managed to activate the firmware transfer from the BESST device to the M510 controller.

The original firmware can be flashed with same equipment using the usual workflow:
1. Read info from controller using BESST
2. Disconnect BESST from M510 contr

[2022-05-18 21:25] DadoKomar commented on #68
Hello guys.
What is new with new M510 firmware, which was uploaded recently. Should I understand it is still version 3.1 ?
Thx

[2022-05-18 21:31] KyokushinPL commented on #68
Users were unable to install the previous one. The new one have also improved battery attenuation.
Discussion about M510 firmware is here: https://www.emtbforums.com/community/threads/bafang-m510.26180/post-395217

[2022-08-27 11:44] cpardo13 opened #81 "New firmware M600 36V 18A"
Hello,
I have a new firmware from Bafang for M600 36V 18A.
I have compare with the 25A firmware and have a little of bits of diferencies.
I think if a developer or expert compare this two files, know the bits to modify for personalize a firmware.
Add a link to download the firmware because im not upload to this repository.

https://we.tl/t-Er6noc3yAk

[2022-08-27 14:28] Ornias1993 commented on #81
Everyone can open a PR to this repository, please do so.

[2022-08-27 14:28] #81 closed

[2022-08-27 14:28] Ornias1993 commented on #81
Don't expect others to do that for you... We expect opening a fork, uploading an opening a PR.

[2022-08-27 14:45] cpardo13 commented on #81
I don't understand sorry. My english is very bad.
I open this issue for share a new firmware because im not can upload directly.
But you're still as nice as ever.

[2022-08-27 16:33] Ornias1993 commented on #81
Please file a PR (Pull Request), not an issue.
For your needless personal attack i'm going to lock this issue. It's not needed at all.

[2022-11-23 22:02] kosso opened #83 "M410"
Just found this repo via the Endless-Sphere forum.

I recently bought an Eskute Netuno Pro which comes with a **Bafang M410** mid-drive motor.
(controller/display is: L DP C07.C 1.0 - CAN bus connectors)

Does anyone know if this setup is 'tweakable'?

(I have the Inno USB/CAN converter and Higo cables on order)

Many thanks.